:root {
	--color-primary: #5ec576;
	--color-secondary: #ffcb03;
	--color-rose: #ff585f;
	--color-primary-darker: #4bbb7d;
	--color-secondary-darker: #ffbb00;
	--color-rose-darker: #fd424b;
	--color-primary-opacity: #5ec5763a;
	--color-secondary-opacity: #ffcd0331;
	--color-rose-opacity: #ff58602d;
	--gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #444;
	line-height: 2;
	background-color: #f3f3f3;
}

p {
	color: #666;
}

button:focus {
	outline: none;
}

img {
	transition: filter 0.5s;
}

/* NAVIGATION */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9rem;
	width: 100%;
	padding: 0 6rem;
	z-index: 100;
}

/* nav and sticky class at the same time */
.nav.sticky {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
	height: 4.5rem;
	transition: all 0.3s;
}

.nav__links {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav__item {
	margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
	font-size: 1.7rem;
	font-weight: 400;
	color: inherit;
	text-decoration: none;
	display: block;
	transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
	padding: 0.8rem 2.5rem;
	border-radius: 3rem;
	background-color: var(--color-primary);
	color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
	color: inherit;
	background-color: var(--color-primary-darker);
	color: #333;
}

.nav_dropdown {
	display: none;
	position: absolute;
	right: 6rem;
	background-color: #f9f9f9;
	width: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 1.5rem 0rem 1.5rem 1.5rem;
}

.nav__item:hover .nav_dropdown {
	display: block;
}

.nav_dropdown a {
	font-size: 1.6rem;
	font-weight: 400;
	color: inherit;
	text-decoration: none;
	display: block;
	transition: all 0.3s;
	padding: 10px;
}

.nav__bars {
	height: 2.4rem;
}

.nav_dropdown a:hover {
	color: var(--color-primary-darker);
	/* background-color: var(--color-primary-darker); */
	/* color: #333; */
}

.dropdown_item {
	display: flex;
}

.dropdown_item img {
	margin: 15px 0px 0px 15px;
	width: 24px;
	height: 24px;
}

/* container */
.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.containter-grid {
	margin: 0rem 5rem;
}

.containter-grid>p {
	font-size: 1.5rem;
}

.containter-grid .flex-f {
	display: block;
	height: 30%;
}

.activities .head {
	display: block;
	font-size: 1.5rem;
}

.activities .box {
	margin: 20px 0px 0px 10px;
}

.balance {
	font-size: 1.6rem;
}

.balance_t {
	font-size: 1.6rem;
	margin-top: 5rem;
}


.welcome {
	font-size: 1.5rem;
	font-weight: 700;
}

.transaction {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	margin: 10px;
}

.transaction img {
	width: 30px;
	height: 30px;
}

.transaction p {
	font-size: 1.5rem;
}

/* contact us */

.flex-ca .box_ {
	display: block;
	width: 40rem;
	height: 10rem;
	margin: 4rem auto;
}

.flex-ca a {
	text-decoration: none;
}

.flex-ca .box_ p {
	font-size: 1.7rem;
	padding: 10px 0px 0px 15px;
}

.form_container {
	width: 100%;
	height: 80%;
	margin: 5rem 0rem;
}

input[type='text'],
input[type='password'],
input[type='email'] {
	width: 80%;
	font-size: 1.7rem;
	padding: 12px 20px;
	margin: 2rem;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.text_area {
	width: 80%;
	height: 10rem;
	font-size: 1.6rem;
	padding: 12px 20px;
	margin: 2rem;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
}

input[type='submit'] {
	display: block;
	position: absolute;
	margin-top: 2rem;
	right: 14.5rem;
	width: 10rem;
	background-color: #4caf50;
	font-family: inherit;
	font-size: 1.4rem;
	color: white;
	padding: 10px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type='submit']:hover {
	background-color: #45a049;
}

form>p {
	font-size: 1.7rem;
	margin-left: 5px;
	font-family: inherit;
	font-weight: 400;
}

.radio {
	display: block;
	position: relative;
	margin-left: 1.5rem;
	margin-top: 1rem;
	padding-left: 3.5rem;
	cursor: pointer;
	font-size: 1.4rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 20px;
	width: 20px;
	background-color: rgb(206, 206, 206);
	border-radius: 50%;
}

.radio:hover input~.checkmark {
	background-color: rgb(161, 161, 161);
}

.radio input:checked~.checkmark {
	background-color: #2196f3;
}

.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.radio input:checked~.checkmark:after {
	display: block;
}

.radio .checkmark:after {
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}

.radio_btns {
	display: flex;
}

.tag_withdraw {
	width: 80px;
	height: 25px;
	background-image: linear-gradient(to top left, #e52a5a, #ff585f);
	font-size: 1.3rem;
	color: white;
	font-weight: 200;
	text-align: center;
	border-radius: 3rem;
}

.tag_deposit {
	width: 80px;
	height: 25px;
	background-image: linear-gradient(to top left, #39b385, #9be15d);
	font-size: 1.3rem;
	color: white;
	font-weight: 200;
	text-align: center;
	border-radius: 3rem;
}

@media only screen and (max-width: 450px) {

	/* NAVIGATION */
	.nav {
		height: 7rem;
		padding: 0 3rem;
	}

	.nav__logo {
		height: 2rem;
	}

	.nav__item {
		margin-left: 2rem;
	}

	.nav_dropdown {
		right: 3rem;
	}

	.nav_dropdown a {
		font-size: 1.4rem;
	}

	.nav__bars {
		height: 2rem;
	}

	.dropdown_item img {
		width: 20px;
		height: 20px;
	}

	/* container */
	.container {
		display: block;
	}

	.containter-grid {
		margin: 2rem 5rem;
	}

	.containter-grid>p {
		margin-top: 10px;
		font-size: 1.2rem;
	}

	.activities .head {
		display: block;
		font-size: 1.2rem;
	}

	.containter-grid .balance {
		height: 6rem;
	}

	.balance {
		font-size: 1rem;
	}

	.balance_t {
		font-size: 1rem;
		margin-top: 0rem;
	}


	.transaction p {
		font-size: 1.4rem;
	}

	.flex-ca .box_ {
		display: block;
		width: 80%;
		height: 10rem;
		margin: 1rem;
	}

	.flex-ca .box_ p {
		font-size: 1.6rem;
		padding: 10px 0px 0px 15px;
	}

	.form_container {
		margin: auto;
	}

	input[type='text'],
	input[type='email'],
	input[type='password'],
	.text_area {
		font-size: 1.5rem;
		margin: 2rem;
		width: 90%;
	}

	form>p {
		font-size: 1.7rem;
		margin-left: 2rem;
	}

	.radio_btns {
		display: flex;
		margin-left: 5rem;
	}

	input[type='submit'] {
		position: absolute;
		right: 6.5rem;
	}
}

/* added for js transaction function :nive */
.movements {
	grid-row: 2 / span 3;
	background-color: #fff;
	border-radius: 1rem;
	overflow: scroll;
}

.movements__row {
	padding: 1rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eee;
}

.movements__type {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.1rem 1rem;
	border-radius: 10rem;
	margin-right: 2rem;
}

.movements__date {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #666;
}

.movements__type--deposit {
	background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
	background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
	font-size: 1.7rem;
	margin-left: auto;
}
