:root {
	--color-primary: #5ec576;
	--color-secondary: #ffcb03;
	--color-rose: #ff585f;
	--color-primary-darker: #4bbb7d;
	--color-secondary-darker: #ffbb00;
	--color-rose-darker: #fd424b;
	--color-primary-opacity: #5ec5763a;
	--color-secondary-opacity: #ffcd0331;
	--color-rose-opacity: #ff58602d;
	--gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
	--primColor: #dcdcdc;
	--secoColor: #555555;
	--cornerRad: 4px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #444;
	line-height: 2;
	background-color: #f3f3f3;
	scroll-behavior: smooth;
}

/* GENERAL ELEMENTS */
.section {
	padding: 15rem 3rem;
	border-top: 1px solid #ddd;

	transition: transform 1s, opacity 1s;
}

.section__title {
	max-width: 80rem;
	margin: 0 auto 8rem auto;
}

.section__description {
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--color-primary);
	margin-bottom: 1rem;
}

.section__header {
	font-size: 4rem;
	line-height: 1.3;
	font-weight: 500;
}

.btn {
	display: inline-block;
	background-color: var(--color-primary);
	font-size: 1.6rem;
	font-family: inherit;
	font-weight: 500;
	border: none;
	padding: 1.25rem 4.5rem;
	border-radius: 10rem;
	cursor: pointer;
	transition: all 0.3s;
}

.btn:hover {
	background-color: var(--color-primary-darker);
}

.btn--text {
	display: inline-block;
	background: none;
	font-size: 1.7rem;
	font-family: inherit;
	font-weight: 500;
	color: var(--color-primary);
	border: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	cursor: pointer;
	transition: all 0.3s;
}

p {
	color: #666;
}

button:focus {
	outline: none;
}

img {
	transition: filter 0.5s;
}

/* NAVIGATION */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9rem;
	width: 100%;
	padding: 0 6rem;
	z-index: 100;
}

/* nav and sticky class at the same time */
.nav.sticky {
	width: 100%;
	left: -1px;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
	height: 4.5rem;
	transition: all 0.3s;
}

.nav__links {
	display: flex;
	align-items: center;
	list-style: none;
	/* z-index: 100; */
}

.nav__item {
	margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
	font-size: 1.7rem;
	font-weight: 400;
	color: inherit;
	text-decoration: none;
	display: block;
	transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
	padding: 0.8rem 2.5rem;
	border-radius: 3rem;
	background-color: var(--color-primary);
	color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
	color: inherit;
	background-color: var(--color-primary-darker);
	color: #333;
}

/* HEADER */
.header {
	padding: 0 3rem;
	height: 107vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__title {
	flex: 1;
	max-width: 115rem;
	display: grid;
	grid-template-columns: 3fr 2fr;
	row-gap: 3rem;
	align-content: center;
	justify-content: center;
	align-items: start;
	justify-items: start;
}

h1 {
	font-size: 5.5rem;
	line-height: 1.35;
}

h4 {
	font-size: 2.4rem;
	font-weight: 500;
}

.header__img {
	width: 100%;
	grid-column: 2 / 3;
	grid-row: 1 / span 4;
	transform: translateY(-6rem);
}

.highlight {
	position: relative;
}

.highlight::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
	transform: scale(1.03, 1) skewX(-15deg);
	background-image: var(--gradient-primary);
}

/* FEATURES */
.features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
	margin: 0 12rem;
}

.features__img {
	width: 100%;
}

.features__feature {
	align-self: center;
	justify-self: center;
	width: 70%;
	font-size: 1.5rem;
}

.features__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary-opacity);
	height: 5.5rem;
	width: 5.5rem;
	border-radius: 50%;
	margin-bottom: 2rem;
}

.features__icon svg {
	height: 2.5rem;
	width: 2.5rem;
	fill: var(--color-primary);
}

.features__header {
	font-size: 2rem;
	margin-bottom: 1rem;
}

/* OPERATIONS */
.operations {
	max-width: 100rem;
	margin: 12rem auto 0 auto;
	background-color: #fff;
}

.operations__tab-container {
	display: flex;
	justify-content: center;
}

.operations__tab {
	margin-right: 2.5rem;
	transform: translateY(-50%);
}

.operations__tab span {
	margin-right: 1rem;
	font-weight: 600;
	display: inline-block;
}

.operations__tab--1 {
	background-color: var(--color-secondary);
}

.operations__tab--1:hover {
	background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
	background-color: var(--color-rose);
	margin: 0;
}

.operations__tab--3:hover {
	background-color: var(--color-rose-darker);
}

.operations__tab--active {
	transform: translateY(-75%);
}

.operations__content {
	display: none;
	font-size: 1.7rem;
	padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__content--active {
	display: grid;
	grid-template-columns: 7rem 1fr;
	column-gap: 3rem;
	row-gap: 0.5rem;
}

.operations__header {
	font-size: 2.25rem;
	font-weight: 500;
	align-self: center;
}

.operations__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
}

.operations__icon svg {
	height: 2.75rem;
	width: 2.75rem;
}

.operations__content p {
	grid-column: 2;
}

.operations__icon--1 {
	background-color: var(--color-secondary-opacity);
}
.operations__icon--2 {
	background-color: var(--color-primary-opacity);
}
.operations__icon--3 {
	background-color: var(--color-rose-opacity);
}
.operations__icon--1 svg {
	fill: var(--color-secondary-darker);
}
.operations__icon--2 svg {
	fill: var(--color-primary);
}
.operations__icon--3 svg {
	fill: var(--color-rose);
}

/* SLIDER */
.slider {
	max-width: 100rem;
	height: 50rem;
	margin: 0 auto;
	position: relative;

	overflow: hidden;
}

.slide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 1s;
}

/* Only for images that have different size than slide */
.slide > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider__btn {
	position: absolute;
	top: 50%;
	z-index: 10;
	border: none;
	background: rgba(255, 255, 255, 0.7);
	font-family: inherit;
	color: #333;
	border-radius: 50%;
	height: 5.5rem;
	width: 5.5rem;
	font-size: 3.25rem;
	cursor: pointer;
}

.slider__btn--left {
	left: 6%;
	transform: translate(-50%, -50%);
}

.slider__btn--right {
	right: 6%;
	transform: translate(50%, -50%);
}

.dots {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.dots__dot {
	border: none;
	background-color: #b9b9b9;
	opacity: 0.7;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	margin-right: 1.75rem;
	cursor: pointer;
	transition: all 0.5s;
}

.dots__dot:last-child {
	margin: 0;
}

.dots__dot--active {
	background-color: #888;
	opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
	width: 65%;
	position: relative;
}

.testimonial::before {
	content: '';
	position: absolute;
	top: -5.7rem;
	left: -6.8rem;
	line-height: 1;
	font-size: 20rem;
	font-family: inherit;
	color: var(--color-primary);
	z-index: -1;
}

.testimonial__header {
	font-size: 2.25rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.testimonial__text {
	font-size: 1.7rem;
	margin-bottom: 3.5rem;
	color: #666;
}

.testimonial__author {
	margin-left: 3rem;
	font-style: normal;
	display: grid;
	grid-template-columns: 6.5rem 1fr;
	column-gap: 2rem;
}

.testimonial__photo {
	grid-row: 1 / span 2;
	width: 6.5rem;
	border-radius: 50%;
}

.testimonial__name {
	font-size: 1.7rem;
	font-weight: 500;
	align-self: end;
	margin: 0;
}

.testimonial__location {
	font-size: 1.5rem;
}

.section__title--testimonials {
	margin-bottom: 4rem;
}

/* SIGNUP */
.section--sign-up {
	background-color: #37383d;
	border-top: none;
	border-bottom: 1px solid #444;
	text-align: center;
	padding: 10rem 3rem;
}

.section--sign-up .section__header {
	color: #fff;
	text-align: center;
}

.section--sign-up .section__title {
	margin-bottom: 6rem;
}

.section--sign-up .btn {
	font-size: 1.9rem;
	padding: 2rem 5rem;
}

/* FOOTER */
.footer {
	padding: 10rem 3rem;
	background-color: #37383d;
}

.footer__nav {
	list-style: none;
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
}

.footer__item {
	margin-right: 4rem;
}

.footer__link {
	font-size: 1.6rem;
	color: #eee;
	text-decoration: none;
}

.footer__logo {
	height: 5rem;
	display: block;
	margin: 0 auto;
	margin-bottom: 5rem;
}

.footer__copyright {
	font-size: 1.6rem;
	color: #aaa;
	text-align: center;
}

.footer__copyright .footer__link {
	font-size: 1.6rem;
}

/* 📱 adding mobile responsiveness 📱 */
/*
img {
	border-radius: 0.4em;
}
.nav__menucontainer {
	width: 95%;
	z-index: 10;
}
.nav__hamburger {
	position: relative;
	display: none;
	opacity: 0;
	color: var(--color-primary);
	font-size: 2em;
	transition: opacity 80ms linear;
}
.nav__hamburgerclose {
	position: relative;
	right: -370px;
	top: -65px;
	opacity: 0;
	color: var(--color-primary);
	font-size: 2em;
	transition: opacity 150ms linear;
	display: none;
	z-index: -1;
} */
.computer-mobile {
	display: none;
}
.nav-mobile {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 80px;
	background-color: #2c3e50;
}
.nav-mobile__logo {
	width: 50px;
	position: absolute;
	top: 17px;
	left: 12%;
}
.nav-mobile__links {
	float: right;
	margin-right: 25px;
}
.nav-mobile__item {
	display: inline-block;
	line-height: 80px;
	margin: 0 15px;
}
.nav-mobile__link {
	position: relative;
	color: white;
	text-transform: uppercase;
	font-size: 1rem;
	padding: 5px 0;
	text-decoration: none;
}
.nav-mobile__link::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background-color: white;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.4s linear;
}

.nav-mobile__link:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}
label #btn,
label #cancel {
	display: none;
	font-size: 30px;
	float: right;
	color: var(--color-primary);
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
}
#check {
	display: none;
}
@media screen and (max-width: 520px) {
	.nav {
		display: none;
		z-index: -1;
	}
	.nav-mobile {
		display: flex;
		justify-content: flex-end;
		/* position:relative; */
		width: 120%;
	}

	.highlight {
		z-index: -1;
	}
	.nav-mobile__logo {
		/* left: -100px; */
		top: 20px;
		width: 45px;
	}
	label #btn {
		display: block;
	}
	.nav-mobile__links {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 80px;
		left: -100%;
		text-align: center;
		background-color: #34495e;
		transition: all 0.5s;
	}
	.nav-mobile__item {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	.nav-mobile__link {
		font-size: 1.5rem;
	}
	#check:checked ~ ul {
		left: 0%;
	}
	#check:checked ~ label #btn {
		display: none;
	}
	#check:checked ~ label #cancel {
		display: block;
	}

	/* Header section*/
	.header__title.header--one {
		margin-top: 2em;
	}
	.btn--text {
		margin-bottom: 3.5em;
	}
	.header {
		/* padding:8rem 3rem; */
		/* padding-bottom: 18rem; */
	}
	.header__img {
		border-radius: 1em;
		z-index: -1;
	}
	.header__title {
		display: flex;
		margin-top: 12em;
		flex-direction: column;
		justify-content: center;
		/* margin-bottom: 8rem; */
	}
	.header__title > h1 {
		font-size: 3.3rem;
	}
	.header__title > h4 {
		font-size: 2.1rem;
		line-height: 1.5;
	}
	/* section 1 🚩🚩🚩 */
	.section {
		padding: 8rem 3rem;
	}
	.features {
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	.computer-desktop {
		display: none;
	}
	.computer-mobile {
		display: inherit;
		margin-top: 2em;
	}
	.section__title {
		margin-bottom: 5rem;
	}
	.section__header {
		font-size: 3rem;
		text-transform: uppercase;
		/* text-align: justify; */
	}
	.section__description {
		font-size: 2rem;
	}
	.features__icon {
		/* width: 100%; */
		/* border-radius: 0.4em; */
		/* border-radius: 10em; */
		/* background-color: white; */
		align-self: center;
	}
	.features__feature {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	/* section 2 🚩🚩🚩 */
	/* tab buttons */
	.operations {
		margin-top: 6rem;
		/* max-width: 100%; */
	}
	.operations__tab--active {
		/* transform:translateY(0%); */
	}
	.operations__tab {
		margin-right: 0.8rem;
	}
	.operations__tab-container {
		width: 100%;
	}
	.operations .btn {
		font-size: 1.2rem;
		padding: 0.8rem 1.3rem;
	}
	/* activated content */
	.operations__content--active {
		display: flex;
		flex-direction: column;
	}
	.operations__content {
		padding: 3.5rem 2.5rem;
	}
	.operations__icon {
		align-self: center;
	}
	.operations__content > p {
		text-align: justify;
	}
	/* section 3 🚩🚩🚩 */
	.slider {
		height: 59rem;
	}
	.testimonial__header::before {
		content: '\201C';
		color: #78c0a8;
		font-family: Arial;
		font-size: 3.5em;
		position: absolute;
		left: -29px;
		top: -28px;
	}
	.testimonial__header {
		font-size: 1.8rem;
	}
	.testimonial__text {
		text-align: justify;
		font-size: 1.5rem;
		max-height: 21rem;
	}
	.slide {
		display: flex;
		flex-direction: column;
		height: 70rem;
		justify-content: start;
	}
	.testimonial {
		width: 80%;
	}
	.slider__btn {
		height: 4.5rem;
		width: 4.5rem;
		font-size: 2.4rem;
		position: inherit;
		top: 21em;
		left: 4.5em;
	}
	.testimonial__author {
		grid-template-columns: 6.5rem 1.5fr;
		margin-top: 8rem;
		/* place-items: center; */
		margin-left: 1rem;
		column-gap: 1.5rem;
	}
	.testimonial__name {
		font-size: 1.5rem;
	}
	.testimonial__location {
		font-size: 1.35rem;
	}
	.testimonial__photo {
		place-self: center;
	}
	/* footer */
	.footer {
		padding: 10rem 0;
	}
	.footer__link {
		font-size: 1.3rem;
	}
	.footer__nav {
		/* margin-left: 1.5rem; */
	}
	.footer__item {
		margin-right: 1rem;
	}
}
